<br>
<%= form_tag home_manage_path, data: { turbo: false }, :method => 'POST' do %>
    <div class="card" style="width: 36rem; margin:0 auto;">
        <div class="card-body">  <br>
            <%= text_field_tag 'fromcurrency', nil, placeholder: "From Currency Symbol", class: "form-control me-2" %> <br>
            <%= text_field_tag 'tocurrency', nil, placeholder: "To Currency Symbol", class: "form-control me-2" %> <br>
            <%= submit_tag 'Search', class: "btn btn-outline-success"%> <br>
        </div>
    </div>
<% end %>

<br>

<table class="table caption-top" style="width: 36rem; margin:0 auto;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @from_output %> </td>
      <td><%= @to_output %> </td>
      <td><%= @rate_output %> </td>
    </tr>
  </tbody>
</table>

