<div id="<%= dom_id rate %>">
  <p>
    <strong>From symbol:</strong>
    <%= rate.from_symbol %>
  </p>

  <p>
    <strong>To symbol:</strong>
    <%= rate.to_symbol %>
  </p>

  <p>
    <strong>Rate symbol:</strong>
    <%= rate.rate_symbol %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rate.user_id %>
  </p>

</div>
