<h1>Rates</h1>
<div id="rates">
    <% @rates.each do |rate| %>
      <% if rate.user_id == current_user.id%>
      <p>
        <strong>From symbol:</strong>
        <%= rate.from_symbol.upcase %>
      </p>
  
      <p>
        <strong>To symbol:</strong>
        <%= rate.to_symbol.upcase %>
     </p>
     <p>
      <strong>Rate symbol:</strong>
      <% require 'net/http' %>
      <% require 'json' %>
      <% @url = "https://api.apilayer.com/fixer/convert?to=#{rate.to_symbol}&from=#{rate.from_symbol}&amount=100&apikey=eJ1aTICGpZEzD0ADy3Dxd8JdPX4FLIxW" %>
      <% @uri = URI(@url) %>
      <% @response = Net::HTTP.get(@uri) %>
      <% @currency = JSON.parse(@response) %>
      <%= @rate_output = @currency["info"]["rate"] %>
     </p>
      <p>
        <%= button_to "Destroy this pair", rate, method: :delete %>
      </p>
      <% else %>
      <%= "You need to add some pairs" %>
      <% end %>
    <% end %>
</div>


<%= link_to "New rate", new_rate_path %>
